<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<body>

<div ng-app="submission_app" ng-controller="submission_ctrl">
<head>
    <title>{{ submissionTitle }}</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a href="/"><img src="./img/y18.gif"></a>
                        </td>
                        <td class="header">
                            <font size="4"> <b><a href="/">Hacker News</a></b></font>
                            <font size="3"> 
                                <a href="/">new</a> | 
                                <a href="/threads">threads</a> | 
                                <a href="/ask">ask</a> | <a href="/submissions/new">submit</a>
                            </font>
                        </td>
                        <td>
                            <font size="3">
                                <div align="right">
                                  <a id="login" href="#" >Log in</a>
                                    <script type="text/javascript">
                                        document.getElementById("login").href="https://hackernew.herokuapp.com/signin?url=" + document.URL; 
                                    </script>
                                </div>
                            </font>
                        </td>
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
            <td>
                <div style="color:grey;margin-left:10px">
                    <% if current_user != nil && current_user.id != @submission.user.id %>
                        <form action="tobereplaced" method="POST"
                              id="upvote_submission_form">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <% if current_user && !current_user.voted_for?(@submission) %>
                            <input type="hidden" name="reply[user_id]" value=<%= current_user.id %>>
                            <input type="image" name="submit_vote" src="./img/grayarrow.gif">
                            <% elsif !current_user %>
                            <a href="/auth/google_oauth2"><img src="./img/grayarrow.gif"></a>
                            <% end %>
                        </form>
                    <% elsif current_user != nil %>
                        <font color="orange" size="3">*</font>
                    <% else %>
                        <a href="/auth/google_oauth2"><img src="./img/grayarrow.gif"></a>
                    <% end %>
                    <a ng-href="{{ submissionUrl }}">
                        {{ submissionTitle }}
                    </a>
                    <br>
                    submitted by <a ng-href="{{ submissionUserUrl }}">
                    {{ submitter }}</a>
                    
                    {{ timeString }}
                    
                    {{ numberOfComments }} comments
                    <br>
                    <br>
                    {{ submissionText }}
                    <br>
                </div>

                <br>
                
                
                <div style="margin-left:20px">
                    <form id="comment_content_form" novalidate class="simple-form">
                        <textarea id="new_comment_content" value="" form="comment_content_form"
                                  style="min-width:500px;min-height:100px"></textarea>
                        <input type="submit" ng-click="submitComment(comment)" value="add comment" />
                    </form>
                </div>
                <br>
                <br>
                
                <p style="margin-left:20px" id="notice"><%= notice %></p>
                <br>

                <div style="margin-left:10px" ng-repeat="comment in comments">
                    <table>
                        <tr>
                            <td>
                        <% if current_user != nil && current_user.id != comentari.user.id %>
                            <form action="/comments/<%= comentari.id %>/vote" method="POST"
                              id="upvote_comment_form">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <% if current_user && !current_user.voted_for?(comentari) %>
                                <input type="hidden" name="reply[user_id]" value=<%= current_user.id %>>
                                <input type="image" name="submit_vote" src="./img/grayarrow.gif">
                                <% elsif !current_user %>
                                <a href="/auth/google_oauth2"><img src="./img/grayarrow.gif"></a>
                                <% end %>
                            </form>
                        <% elsif current_user != nil %>
                            <font color="orange" size="3">*</font>
                        <% else %>
                            <a href="/auth/google_oauth2"><img src="./img/grayarrow.gif"></a>
                        <% end %>
                        </td>
                            <td><a ng-href="/users/{{comment.user_id}}">{{ comment.username }}</a>
                            
                            {{ comment.ago }}
                            
                        </tr>
                        </table>
                        <table>
                        <tr>
                            <td style="color:grey;"> {{ comment.content }}</td>
                        </tr>
                    </table>
                    <a ng-href="/comments/{{comment.id}}/new_reply">reply</a>
                    
                    <div style="color:grey;margin-left:25px" ng-repeat="reply in comment.replies">
                        <table>
                            <tr>
                                <td>
                                <% if current_user != nil && current_user.id != reply.user.id %>
                                    <form action="/replies/<%= reply.id %>/vote" method="POST"
                                      id="upvote_reply_form">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                        <% if current_user && !current_user.voted_for?(reply) %>
                                        <input type="hidden" name="reply[user_id]" value=<%= current_user.id %>>
                                        <input type="image" name="submit_vote" src="./img/grayarrow.gif">
                                        <% elsif !current_user %>
                                        <a href="/auth/google_oauth2"><img src="./img/grayarrow.gif"></a>
                                        <% end %>
                                    </form>
                                <% elsif current_user != nil %>
                                    <font color="orange" size="3">*</font>
                                <% else %>
                                    <a href="/auth/google_oauth2"><img src="./img/grayarrow.gif"></a>
                                <% end %>
                                </td>
                                <td><a ng-href="/users/{{ reply.user_id }}"> {{ reply.username }}</a>
    
                                    $scope.agoFunction(reply.created_at);
                                    
                            </tr>
                            </table><table>
                            <tr>
                                <td> {{ reply.content }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                
                <br>
            </td>
        </tr>
    </table>
</center>
</body>
</div>

<script>
    var app = angular.module("submission_app", ["ngRoute"]);
    
    app.config(function($locationProvider) {
        $locationProvider.html5Mode({
          enabled: true,
          requireBase: false
        }).hashPrefix('!');
    });
    
    app.controller('submission_form_ctrl', ['$scope', function($scope) {
        $scope.submitComment = function(comment) {
            alert("sfd");
        };
    }]);

    app.controller('submission_ctrl', ['$scope', '$location', '$http',
       function ($scope, $location, $http) {
          $scope.agoFunction = function(date)  {
                var time = (new Date().getTime() - new Date(date).getTime());
                var timestring = "";
                if (time < 3600*1000) {
                    timestring = Math.round(time/(60*1000)) + " minutes ago";
                }
                if (time >= 3600*1000 && time < 3600*1000*24) {
                    timestring = Math.round(time/(3600*1000)) + " hours ago";
                }
                if (time >= 3600*1000*24) {
                    timestring = Math.round(time/(3600*24*1000)) + " days ago";
                }
                return timestring;
          }
           
          //Get ID out of current URL
          var submission_id = $location.search().id;
          $scope.submissionId = submission_id;
          document.getElementById('upvote_submission_form').action = "/submissions/"+submission_id+"/vote";
          $http.get("https://hackernew.herokuapp.com/submissions/"+submission_id+".json")
            .then(function(response) {
                $scope.submissionTitle = response.data.title;
                $scope.submissionText = response.data.text;
                $scope.submissionUrl = response.data.url;
                $scope.submissionText = response.data.text;
                $scope.timeString = $scope.agoFunction(response.data.created_at);
                $http.get(response.data._links.user.href).then(function(response) {
                    $scope.submitter = response.data.name;
                    $scope.submissionUserUrl = "./user.html?username="+response.data.name;
                });
                $http.get("https://hackernew.herokuapp.com/submissions/"+submission_id+"/comments.json").then(function(response) {
                    $scope.numberOfComments = response.data.length;
                    response.data.forEach(function(comment) {
                        $http.get(comment._links.user.href).then(function(response) {
                            comment.username = response.data.name;
                        });
                        $http.get("https://hackernew.herokuapp.com/comments/"+comment.id+"/replies.json").then(function(response) {
                            comment.replies = response.data;
                        });
                        comment.ago = $scope.agoFunction(comment.created_at);
                    });
                    $scope.comments = response.data;
                });
            });
    }]);
</script>

</body>
</html>